$color-primary: #17B3DD;
$color-red: #FF4A5D;
$color-yellow: #FEBF34;
$color-green: #1BBC9B;
$color-purple: #764EBE;
$color-dark-blue: #363B5B;

$color-grey-lighter: #F9F9F9;
$color-grey-light: #CCCCCC;
$color-grey: #B3B3B3;
$color-grey-dark: #333333;

