@import 'base';

:global {
  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    background-color: $color-grey-lighter;
    color: $color-grey-dark;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

