@import '../../../styles/base';

.navbar {
  position: fixed;
}

.navbar__logo,
.navbar__title {
  color: white;
  min-height: 80px;
  display: flex;
  align-items: center;
  span {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.navbar__logo {
  background-color: $color-primary;
  justify-content: center;
  span {
    margin-left: 15px;
  }
  img {
    height: 1.25em;
  }
}

.navbar__title {
  background-color: $color-dark-blue;
  padding-left: 30px;
}

