@import '../../../styles/_base.scss';

.bar {
  background-color: $color-grey-light;
  border-radius: 12px;
  height: 24px;
  overflow: hidden;
  width: 100%;
}

.choiceTitle {
  font-family: 'Quattrocento Sans', sans-serif;
}
